/* ==========================================================================
  Slider
   ========================================================================== */
#carousel-area {
    overflow: hidden;
    position: relative;
    background: #f2f7fb;

    .carousel-item {
        .carousel-caption {
            top: 32%;
            right: 12%;
            left: 12%;
            text-shadow: none;
            padding-top: 0;
            padding-bottom: 0;

            h2 {
                font-size: 42px;
                font-weight: 600;
                line-height: 50px;
                margin-bottom: 25px;
                color: #333;
            }

            p {
                color: #333;
                font-size: 14px;
                margin-bottom: 30px;
            }

            .btn {
                margin: 0px 10px 0px 0px;
            }
        }

        .img-wrapper {
            margin-top: -60px;
        }
    }

    .carousel-control {
        display: none;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        .carousel-control {
            display: block;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        opacity: 1;

        i {
            width: 48px;
            line-height: 48px;
            height: 48px;
            color: $preset;
            border: 2px solid $preset;
            font-size: 24px;
            display: inline-block;
            background: transparent;
            border-radius: 30px;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;

            &:hover {
                background: $preset;
                color: #fff;
            }
        }
    }

    .carousel-agency {
        .carousel-caption {
            h2 {
                font-size: 42px;
                font-weight: 600;
                line-height: 60px;
                margin-bottom: 25px;
                color: #fff;
            }

            p {
                color: #ffffff;
                font-size: 14px;
                margin-bottom: 30px;
            }

            .btn {
                margin: 0px 10px 0px 0px;
            }

            .btn-border {
                border-color: #fff;
                color: #fff;
            }
        }
    }

    .carousel-control-prev {
        left: 5%;
    }

    .carousel-control-next {
        right: 5%;
    }
}

#carousel-area .carousel-indicators li:hover,
#carousel-area .carousel-indicators li.active {
    background: $preset;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 10;
    width: 35px;
    height: 55px;
    top: 50%;
    padding: 10px 5px;
    box-shadow: none;
    background-image: none;
    margin-top: -35px;
    text-shadow: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#carousel-area .carousel-indicators {
    bottom: 35px;

    li {
        width: 15px;
        height: 15px;
        background: #d5d5d5;
        border-radius: 50px;
        border: 0;
        padding: 0;
    }
}

.contents {
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 50px;
    }

    .header-button {
        .btn i {
            margin-left: 10px;
        }
    }
}

.left,
.right {
    cursor: pointer;
    font-size: 30px;
    color: $preset;
}
