 /* ==========================================================================
   Contact Us
  ========================================================================== */
 .form-control {
     width: 100%;
     height: 46px;
     padding: 0 20px;
     font-size: 14px;
     border-radius: 30px;
     border: 1px solid #ececec;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
 }

 .form-control:focus {
     border: 1px solid $preset;
     outline: none;
     box-shadow: none;
 }

 .btn.disabled,
 .btn:disabled {
     opacity: 1;
 }

 textarea {
     border-radius: 4px !important;
     text-align: left !important;
     padding-top: 15px;
     resize: none;
 }

 .contact-form-area {
     background: #fff;
     box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
     padding: 30px 15px;

     h2 {
         font-size: 18px;
         font-weight: 500;
         text-transform: uppercase;
     }

 }

 #contactForm {
     margin-top: 30px;

     .form-group {
         margin-bottom: 30px;
     }
 }

 .contact-info {
     padding: 4px;
     border-radius: 4px;
     border: 1px solid #f1f1f1;
     margin-top: 30px;

     .single-contact {
         margin: 15px 30px;
         padding: 10px 0px 10px 60px;
         position: relative;
         color: #9a9a9a;

         p {
             a {
                 color: #9a9a9a;
             }
         }
     }

     .contact-icon {
         background: $preset;
         color: #fff;
         border-radius: 50%;
         font-size: 20px;
         height: 40px;
         left: 0;
         padding-top: 8px;
         position: absolute;
         text-align: center;
         top: 50%;
         -webkit-transform: translateY(-50%);
         transform: translateY(-50%);
         width: 40px;

         i {
             font-size: 20px;
         }
     }
 }

 #conatiner-map {
     margin-top: 30px;
     text-align: center;
     background-color: #fff;
     height: 370px;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
     z-index: 101;
     width: 100%;

     iframe {
         width: 100%;
         height: 100%;
         border: none;
     }
 }

 // Login Pages
 .box {
     padding: 30px;
     box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
 }

 .page-login-form {
     h3 {
         font-size: 18px;
         color: #333;
         line-height: 18px;
         padding: 15px 0 30px;
         text-transform: uppercase;
         text-align: center;
     }

     .login-form {
         .form-control {
             padding-left: 62px;
             position: relative;
         }
     }

     .log-btn {
         width: 100%;
         padding: 12px 22px;
         margin: 0px 0px 20px;
         letter-spacing: 1;
         text-transform: capitalize;
         font-size: 16px;
     }

     .form-links {
         width: 100%;
         height: 25px;

         li {
             a {
                 color: #9a9a9a;
             }

             a:hover {
                 color: $preset;
             }
         }
     }
 }

 .input-icon {
     position: relative;

     i {
         color: $preset;
         padding-right: 10px;
         font-size: 14px;
         position: absolute;
         top: 50%;
         border-right: 1px solid #ececec;
         border-radius: 30px 0px 0px 30px;
         top: 1px;
         left: 1px;
         font-weight: normal;
         font-size: 14px;
         text-align: center;
         padding: 0;
         margin: 0;
         width: 48px;
         line-height: 45px;
         height: 45px;
         z-index: 99;
     }
 }

 .box {

     .checkbox label,
     .radio label {
         padding-left: 34px;
     }
 }

 /* ==========================================================================
  Subscribe Style
  ========================================================================== */
 .subscribe-form {
     width: 100%;
     display: table;
     height: 100%;

     > div {
         vertical-align: middle;
         display: table-cell;
     }

     .sub-title {
         margin-bottom: 30px;

         h3 {
             color: #333;
             font-size: 36px;
             margin-bottom: 20px;
             position: relative;
             font-weight: 500;
         }

         p {
             font-size: 14px;
         }
     }

     .form-wrapper {
         .form-group {
             margin-bottom: 0px;
         }

         .form-control {
             display: block;
             width: 100%;
             height: 66px;
             text-align: left;
             font-size: 14px;
             padding: 0 25px;
             box-shadow: none;
             margin-bottom: 0;
             color: #fff;
             font-weight: 400;
             background: transparent;
             border: 1px solid #b1b1b1;
             border-radius: 50px;
             background-image: none;
             background-clip: padding-box;
         }

         .form-control:focus {
             color: #333;
             border-color: $preset;
             box-shadow: none;
             outline: 0;
         }

         .btn-search {
             top: 6px;
             right: 22px;
             z-index: 2;
             width: 156px;
             font-weight: 400;
             background: $preset;
             color: #fff;
             height: 52px;
             text-align: center;
             position: absolute;
             padding: 0px;
         }

         input::placeholder {
             color: #666;
             font-weight: 400;
         }
     }

     .form-submit {
         .btn {
             width: 100%;
             padding: 13px 30px;
         }
     }
 }

 #subscribe {
     .sub-item-box {
         padding: 30px;
         margin-bottom: 30px;
         border-radius: 4px;
         background: #fff;

         .icon-box {
             float: left;

             i {
                 font-size: 30px;
                 color: $preset;
             }
         }

         .text-box {
             margin-left: 60px;

             h4 {
                 font-size: 16px;
                 font-weight: 500;
             }

             p {
                 margin-bottom: 0;
             }
         }
     }

     .sub-item-box:last-child {
         margin-bottom: 0;
     }
 }

 .contact-social {
     li {
         display: inline-block;
         margin-right: 12px;
         line-height: 40px;

         a {
             color: #191c1e;
             font-size: 15px;
             line-height: 32px;
             text-align: center;
             display: inline-block;
             -webkit-transition: all .4s ease-in-out;
             -moz-transition: all .4s ease-in-out;
             transition: all .4s ease-in-out;
         }

         .facebook:hover {
             color: #3b5998;
         }

         .twitter:hover {
             color: #55acee;
         }

         .linkedin:hover {
             color: #007bb5;
         }

         .google-plus:hover {
             color: #dd4b39;
         }
     }
 }

 input[type="checkbox"] {
     background: #3d404e;
     border: #7f83a2 1px solid;
 }

 .form-check input[type=checkbox].form-check-input {
     background: $preset;
 }
