/* ==========================================================================
 Counter Section Style
 ========================================================================== */
 #counter{
  .counter-box{
    padding: 30px 0;
    .icon{
      margin-bottom: 30px;
      margin-right: 30px;
      float: left;
      i{
          font-size: 48px;
          color: $preset;
      }
    }
    h3{
      color: #333;
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 0;
    }
    p {
      font-size: 14px;
      color: #333;
      font-weight: 400;
    }
  }
}