// Faq page Start
.head-faq {
    margin-bottom: 20px;
}

.panel-group .panel {
    margin-bottom: 24px;
    box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.panel-default {
    border-radius: 0px;
    border: none;

    .panel-heading {
        padding: 0px 20px;
        outline: none;
        border-radius: 4px;
        background: $preset !important;
        border: 1px solid $preset;
        width: 100%;
        box-shadow: none;

        .panel-title {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 16px;
            color: inherit;
        }

        a {
            font-size: 14px;
            font-weight: 400;
            padding: 15px 35px 15px 0px;
            display: inline-block;
            width: 100%;
            color: #fff;
            position: relative;
            text-decoration: none;
        }

        a:after {
            font-family: "LineIcons";
            content: "\e93a";
            position: absolute;
            right: 15px;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            top: 50%;
            line-height: 1;
            margin-top: -7px;
            transform: rotate(180deg);
            transition: all 0.3s linear;
        }

        .collapsed:after {
            transform: rotate(0deg);
        }
    }

    .panel-collapse {
        .panel-body {
            padding: 20px;
            background-color: #fff;
            border: 1px solid #fff;
        }
    }
}

/* ==========================================================================
 Policy Page Style
 ========================================================================== */
.policy {
    .post-box {
        border-radius: 4px;
        background: #fff;
        box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);

        .text-box {
            width: 100%;
            padding: 30px;

            h2 {
                line-height: 26px;
                font-size: 26px;
                margin: 0 0 18px 0;
            }

            h4 {
                color: #999;
                font-size: 16px;
                margin: 15px 0px 15px;
                font-weight: 500;
            }
        }

        ul {
            padding: 0 0 20px 20px;
            margin: 0;

            li {
                padding: 0;
                display: block;
                overflow: hidden;
                color: #888;
            }
        }
    }
}
