/* ==========================================================================
   Footer Style
   ========================================================================== */
.block-title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
}

footer {
    .footer-Content {
        background-color: #24324a;
        padding: 60px 0;
        color: #8a99b3;

        p {
            color: #8a99b3;
        }
    }
}

.footer-logo {
    margin-bottom: 0;
}

.textwidget {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;

    p {
        color: #8a99b3;
        font-size: 14px;
    }
}

footer .menu {
    padding-left: 0;
    float: left;
    width: 50%;

    li {
        list-style: none;
        padding-bottom: 15px;

        a {
            color: #8a99b3;
            font-size: 14px;

            &:hover {
                color: $preset;
            }
        }

        .small-title {
            color: #fff;
            font-weight: 500;
        }
    }
}

.contact-footer {
    margin: 0;
    padding: 0;
    display: inline-block;

    li {
        padding-bottom: 20px;

        strong {
            float: left;

            i {
                font-size: 15px;
            }
        }

        span {
            margin-left: 40px;
            display: block;

            a {
                color: #BFBFBF;

                &:hover {
                    color: $preset;
                }
            }
        }
    }
}

.contact-list li {
    padding: 5px 0;
    margin-bottom: 12px;
    color: #8a99b3;

    i {
        width: 34px;
        height: 34px;
        line-height: 30px;
        float: left;
        color: #fff;
        text-align: center;
        font-size: 22px;
        top: 4px;
        margin-right: 10px;
    }
}

#subscribe-form {
    margin-top: 15px;

    .form-group {
        position: relative;

        .form-control {
            border-radius: 30px;
            background: transparent;
            color: #fff;
            border: 1px solid #536688;
            padding: 15px;
            height: 40px;
            line-height: 40px;

            &:focus {
                border-color: $preset;
            }
        }

        .btn-common {
            position: absolute;
            top: 0;
            right: 0;
            padding: 7px 15px;
            height: 40px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            background: transparent;
            background: $preset;

            &:before {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
            }
        }
    }
}

.footer-social {
    margin-top: 20px;

    li {
        display: inline-block;
        margin-right: 12px;

        a {
            background-color: $preset;
            border-radius: 30px;
            color: #fff;
            height: 32px;
            line-height: 35px;
            text-align: center;
            width: 32px;
            display: inline-block;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

        .facebook {
            background-color: #3b5998;
        }

        .twitter {
            background-color: #55acee;
        }

        .linkedin {
            background-color: #007bb5;
        }

        .google-plus {
            background-color: #dd4b39;
        }
    }
}

#copyright {
    background-color: $preset;
    padding: 20px 0 10px;
    color: #fff;

    p {
        line-height: 34px;
        color: #fff;

        a {
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.social-icon {
    .facebook:hover {
        background-color: #3b5998;
    }

    .twitter:hover {
        background-color: #55acee;
    }

    .dribble:hover {
        background-color: #D34836;
    }

    .flickr:hover {
        background-color: #ff0084;
    }

    .youtube:hover {
        background-color: #CC181E;
    }

    .google-plus:hover {
        background-color: #dd4b39;
    }

    .linkedin:hover {
        background-color: #007bb5;
    }
}
