/* ==========================================================================
   Hero Area
   ========================================================================== */
.hero-area {
    background: #ffffff;
    color: #fff;
    overflow: hidden;
    position: relative;

    .contents {
        padding: 150px 0 80px;

        h2 {
            color: #333;
            font-size: 42px;
            font-weight: 700;
            line-height: 60px;
            margin-bottom: 25px;
        }

        p {
            color: #9a9a9a;
            font-size: 14px;
            line-height: 26px;
        }

        .btn {
            margin-top: 40px;
            margin-right: 20px;
            text-transform: uppercase;
        }

        .btn-border {
            border: 2px solid #fff;
            color: #fff;
        }
    }

    .intro-img {
        padding: 120px 0 0px;

        img {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }
}

.job-search-form {
    margin-top: 35px;

    .form-group {
        margin-bottom: 0;
        
        .form-control{
            height: 46px;
        }
        i {
            position: absolute;
            top: 14px;
            color: #9a9a9a;
            right: 30px;
            font-size: 18px;
        }
    }

    .search-category-container {
        .styled-select > select {
            background: transparent;
            font-size: 14px;
            line-height: 25px;
            border: 0;
            border-radius: 30px;
            height: 46px;
            border: 1px solid #ececec;
            color: #495057;
            padding: 10px 20px;
            z-index: 1;
            width: 100%;
            position: relative;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    }

    .button {
        font-size: 22px;
        line-height: 14px;
        display: inline-block;
        position: relative;
        outline: none !important;
        background: $preset;
        color: #fff;
        cursor: pointer;
        border: none;
        text-align: center;
        overflow: hidden;
        padding: 11px 12px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border-radius: 4px;
        z-index: 1;

        &:hover {
            box-shadow: 0px 7px 9px rgba(96, 94, 94, 0.17);
        }
    }

    .button::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 4px;
        opacity: 0;
        transform: scale(0, 0);
        z-index: -1;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
    }

    .button:hover::before {
        background-color: rgba(255, 255, 255, 0.2);
        opacity: 1;
        transform: scale(1, 1);
    }
}

.job-featured-search {
    padding: 15px 0;
    border-radius: 6px;
}
