  /* ==========================================================================
  Pricing Table
  ========================================================================== */
  .pricing-table{
    padding: 30px;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24); 
    .icon{
      margin-bottom: 10px;
      i{
        font-size: 42px;
        color: $preset;
      }
    }
    .pricing-details{
      h2{
        font-size: 20px;
        color: #333333;
        font-weight: 500;
        padding: 15px 0;
        margin-bottom: 0;
      }
      ul{
        li{
          color: #9a9a9a;
          padding: 7px;
          font-size: 14px;
          strong{
            color: #333333;
          }
        }
      }
    }
    .price{
      color: #333333;
      font-size: 42px;
      padding: 20px;
      font-weight: 500;
      span{
        font-size: 16px;
        line-height: 27px;
        font-weight: 400;
      }
    }
  }
  .pricing-table:hover,
  .pricing-active{
    .btn-border{
      background: $preset;
      color: #fff;
      border-color: rgba(255, 255, 255, 0.2);
    }
    .btn-border:hover::before {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  }
  .border-color-defult{
    border-top: 4px solid $preset;
  }
  .border-color-red{
    border-top: 4px solid #ff6046;
  }
  .border-color-green{
    border-top: 4px solid #426eff;
  }

