// Testimonial 
.testimonial-item{
  padding: 30px;
  margin: 15px;
  background: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(191,191,191,0.24);
  .author{
    display: inline-block;
    margin-bottom: 20px;
    .img-thumb{
      float: left;
      overflow: hidden;
      position: relative;
      img{
        border-radius: 50%;
        width: 75%;
      }
    }
  }
  .content-inner{
    overflow: hidden;
    .description{
      width: 100%;
      margin-bottom: 10px;
    }
    span{
      color: #a0a6ad;
    }
    .author-info{
      padding: 3px 0;
      h2{
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 0;
        a{
          color: #484848;
          &:hover{
            color: $preset;
          }
        }
      }
    }
  }
}
.owl-carousel .owl-item img{
  display: inline-block;
  width: auto;
}
.owl-dots{
  text-align: center;
  .owl-dot{
    display: inline-block;
    zoom: 1;
  }
  span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 2px 4px;
    filter: alpha(opacity=50);
    opacity: 1;
    border-radius: 30px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 3px rgba(66, 68, 67, 0.55);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    &:hover{
      background: $preset;
    }
  }
  .active span{
    background: $preset!important;
  }
}

