
// Preset Color Styles
@import "colors/presets";

// Global Styles
@import "global";

// Navbar
@import "navbar";

// Hero Slider 
@import "hero-area";

// About US Area
@import "about";

// Service Area
@import "service";

// Featured 
@import "featured";

// Team Area
@import "team";

// Testimonial Area
@import "testimonial";

// Pricing
@import 'pricing';

// Faq
@import "faq";

// deshboard
@import 'dashboard';

// Detail
@import 'detail';

// Carousel
@import 'carousel';

// Blog Area
@import "blog";

// Contact Area
@import "contact";

// Contact Area
@import "footer";

// Counter Page
@import "counter";

